.site-footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-image: url('../../assets/footerImage/textura2.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-position-x: -40px;
    background-repeat: repeat; /* Repite la textura en el fondo */
    color: #fff; /* Cambia el color del texto */
    padding: 20px 0;
    border-top-right-radius: 60%;
    opacity: 0;
    animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente el contenido */
}

.footer-content {
    flex: 1;
}

.footer-social {
    flex: 1;
    text-align: right; /* Alinea los enlaces sociales a la derecha */
}

.footer-social h3 {
    color:#ffcc00;
    margin-right: 10px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.footer-content p a:hover {
    color: #ffcc00;
}

.social-links li a:hover {
    color: #ffcc00;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li a {
    text-decoration: none;
    color: #fff; /* Cambia el color de los enlaces */
}

/* Media queries para dispositivos más pequeños */
@media (max-width: 768px) {
    .site-footer {
        padding: 10px 0; /* Reducir el relleno en pantallas más pequeñas */
    }

    .container {
        width: 90%; /* Ajustar el ancho del contenedor en pantallas más pequeñas */
    }

    .footer-content,
    .footer-social {
        flex-basis: 100%; /* Hacer que ocupen todo el ancho en dispositivos pequeños */
        text-align: center; /* Centrar el contenido en dispositivos pequeños */
    }

    .footer-social {
        margin-top: 10px; /* Agregar un pequeño margen superior */
    }
}

