<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <p>Información de contacto</p>
            <p>Dirección: <a href="https://maps.app.goo.gl/6hmEDtxcs8rx3oot7" target="_blank">C. R. Rivero Torrez 1630, Muyurina, Cochabamba, Bolivia</a></p>
            <p>Email: <a href="mailto:informaciones.jardin.botanico@gmail.com" target="_blank">informaciones.jardin.botanico@gmail.com</a></p>
            <p>Teléfono: <a href="https://api.whatsapp.com/send?phone=+59162998028&text=Hola,%20estoy%20interesado%20en%20contactarte." target="_blank">+591 62998028</a></p>
        </div>
        <div class="footer-social">
            <h3>Síguenos</h3>
            <ul class="social-links">
                <li><a href="https://www.facebook.com/profile.php?id=100078017859101">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>
