<app-header></app-header>
<div class="background"></div>
<section class="home">
  <div class="content"></div>
  <div class="login">
    <div class="dedicatoria">
      <p>Al ser un donante, no solo te conviertes en un guardián de nuestro parque, sino que también contribuyes a la investigación, conservación y educación ambiental. Tu apoyo hace posible que continuemos expandiendo nuestras áreas de conservación, creando nuevos jardines temáticos y llevando a cabo programas educativos para niños y adultos por igual.</p>
    </div>
  </div>
</section>
