.background-color {
  width: 100%;
  //height: calc(100% - 75px);
  //top: 75px;
  position: absolute;
  .content-card{
    width: 100%;
    height: 100%;
    //margin: 20px;
    overflow: auto;
    //border-radius: 10px;
    background-color: #fcfeff;
    box-shadow: 0 0 0 1px #ebebeb;
  }
}

@media screen and (max-width: 600px) {
  .background-color {
    width: 100%;
    height: calc(100% - 56px);
    top: 56px;
  }
}
