<app-contenedor>
<br>
<br>
<br>
<div>
    <app-cuerpo> 
      <mat-toolbar class="sub-cabecera">
        <div>
          <span class="hidden-sm">Lista de plantas:</span>
        </div>
        <span class="example-spacer"></span>
        <button mat-raised-button class="green-button" routerLink="../registro-planta" [queryParams]="{categoriaId: categoria_id}">
          <mat-icon>eco</mat-icon>
          Añadir planta
        </button>
      </mat-toolbar>
      <section class="grid-container">
      </section>
      <section class="grid-container">
        <div *ngFor="let planta of plantas" class="grid-item">
            <mat-card class="example-card">
              <img mat-card-image [src]="base_backend_url+planta.img" alt="Photo of a Shiba Inu" class="card-image">
              <mat-card-content>
                <mat-card-title>{{planta.name}}</mat-card-title>
                <p>{{planta.description}}</p>
              </mat-card-content>
            </mat-card>
        </div>
      </section>
    </app-cuerpo>
</div> 
</app-contenedor>