<app-contenedor>
  <app-cabecera></app-cabecera>
  <app-cuerpo class="form-property">
    <br><br><br>
    <h1 style="text-align: center;">Añadir una nueva Planta</h1>
    <mat-card class="login">
      <form [formGroup]="formRegistro" class="form-registro">
        <div class="card-content">
          <div class="form-inputs-container">
            <div class="input-group">
              <p>Nombre de la planta</p>
              <mat-form-field style="width: 80%;">
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="input-group">
              <p>Descripcion de la planta</p>
              <mat-form-field style="width: 80%;">
                <textarea matInput formControlName="description" required></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="image-preview-container">
            <div *ngIf="!previewUrl" class="placeholder">
              <p>Espacio para la imagen</p>
            </div>
            <div *ngIf="previewUrl">
              <img [src]="previewUrl" alt="Previsualización de la imagen" class="preview-image">
            </div>
          </div>
        </div>
        <div class="button-container">
          <button mat-raised-button class="green-button" (click)="fileInput.click()">Añadir Imagen</button>
          <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" formControlName="img">
          <button mat-raised-button class="green-button" (click)="guardarDatos()">Registrar</button>
        </div>
      </form>
    </mat-card>
  </app-cuerpo>
</app-contenedor>
