.modal-container{
    padding: 10px;
}
.botones {
    text-align: center;
    margin-top: 20px; /* Ajusta el valor según sea necesario para separar los botones */
  }
  
.botones button {
    margin-right: 60px; /* Ajusta el valor según sea necesario para separar los botones */
  }